html{
    background-image:url('C:\Development\common-web-resources\Images\gradient-design.jpeg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
title{
    text-align:center;
}
iframe{
    border:none;
    width:1500px;
    height:500px;
}
table, th, td{
    width:fit-content;
    border:2px solid black;
    border-collapse:collapse;
}